<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <meta name="author" content="Nathalia Escalante">
  <meta name="description" content=“Prueba Fundamentos de HTML“>
  <meta name="viewport" content="width=device-width,user-scalable=no">

  <title>Fundamentos del HTML Nathalia Escalante</title>
</head>

<body>

  <header>
    <img src="../images/logo.svg" alt="logo" name="logo" width="200px" height="150px">
    <h1>Hoja de Vida</h1>
  </header>

  <nav>
    <a href="../index.html">Volver</a>
    <a href="education.html">Educación</a>
  </nav>

  <h2>Experiencia</h2>

  <h3>Habilidades e intereses</h3>
  <video controls autoplay poster="../images/video.jpg">
		<source src="../media/video.mp4" type="video/mp4">
		El browser no soporta el video
	</video>
  <h3>Hobbies y actividades</h3>
  <audio controls>
  <source src="../media/audio.mp3" type="audio/mp3">
    El browser no soporta el audio
</audio>
  <footer>
    <p>Contacto <a href="mailto:nathy.escalante@gmail.com">nathy.escalante@gmail.com</a></p>
  </footer>
</body>

</html>
